<include file="Public/header" title="报告详情 - 企业安全应急响应与缺陷管理中心" report_status="open" report_color="#6164C1;"/>
<div class="main-content">
<div class="page-title">
	<ol class="breadcrumb no-bg pl0">
	<li>
	<i class="icon-users"></i> <a href="{:U('post/index')}">报告列表</a>
	</li>
	<li>
	<a href="javascript:;">报告详情</a>
	</li>
	</ol>
</div> 
<h4 style="font-family:微软雅黑;"><strong>[SRC-{$model.time|date="Y",###}-{$model.id}] {$model.title}</strong></h4>
<div class="card bg-white">
<div class="card-block" style="">
<div class="row">
<div class="col-lg-6">
		            <p><span><b>报告奖励：</b>{$model.bounty}</span></p>
		            <p><span><b>报告时间：</b>{$model.time|date="Y-m-d H:i:s",###}</span></p>          
</div>
<div class="col-lg-6">
					<p><span><b>报告状态：</b></span><if condition="$model.type eq 1"><span class="label label-info">审核中</span>
                    <elseif condition="$model.type eq 2" /><span class="label label-default">已忽略</span>
                    <elseif condition="$model.type eq 3" /><span class="label label-warning">已确认</span>
                    <elseif condition="$model.type eq 4" /><span class="label label-success">已修复</span>
                    </if> </p> 
					<p><span><b>漏洞危害：</b></span><if condition="$model.rank eq 1"><span class="label label-info">无影响</span>
                    <elseif condition="$model.rank eq 2" /><span class="label label-default">低危</span>
                    <elseif condition="$model.rank eq 3" /><span class="label label-warning">中危</span>
                    <elseif condition="$model.rank eq 4" /><span class="label label-success">高危</span>
                    </if></p>
</div>
		</div>
</div>
</div>

<!--报告详情-->
<div class="card bg-white">
<div class="card-header bg-default">
<div class="pull-left">报告详情</div>
</div>
<div class="card-block" style="">
        <div class="row">
			 {$model.content|htmlspecialchars_decode|waf}
	    </div>
		
  </div>
 </div>
<!--报告详情-->
  
<!--工单评论信息-->
<div class="card bg-white">
<div class="card-header bg-default">
<div class="pull-left">评论</div>
</div>
<div class="card-block" style="">
<foreach name="comment" item="v">
		<div class="comment">
		<div class="comment-author">
			<b><a href="javascript:;">
				@{$v.user_id}
				<time datetime="{$v.update_time|date="Y年m月d日",###}" class="time">{$v.update_time|date="Y年m月d日",###}</time>
			</a></b>
		</div>
		<p>{$v.content}</p>
	</div>
    <hr/>
</foreach>
<div class="form-group">
<form method="post" action="{:U('post/comment')}">
	<div class="form-group">
		<textarea class="form-control m-b input-sm" type="text" name="content" placeholder="点击此处输入评论..."></textarea>
		<input hidden type="text" name="post_id" value="{$model.id}">
        </div>
		<button type="submit" class="btn btn-info btn-sm btn-icon loading-demo mr5">
		<i class="icon-cursor mr5"></i>
		<span>提交</span>
</button>
</form>


</div>
</div>
</div>
<!--工单评论信息-->  
<div class="row">
<div class="col-lg-12">
					<div class="alert alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<p><strong>温馨提示：</strong><if condition="$model.type eq 1"><span>漏洞正在审核中，请您耐心等待，如有疑问请联系在评论中给漏洞处理人员留言</span>
							<elseif condition="$model.type eq 2" /><span>漏洞已忽略，如有争议请联系漏洞处理人员</span>
							<elseif condition="$model.type eq 3" /><span>漏洞已确认，开发正在快马加鞭地修复漏洞</span>
							<elseif condition="$model.type eq 4" /><span>漏洞已修复，请您复查，如发现新的问题，请您提交新的漏洞报告</span>
							</if></p>
						<div class="clearfix"></div>
</div>
</div>
</div>

</div>

<include file="Public/footer" />