<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <hr>
        <p>© 2016 <foreach name="title" item="v">{$v.value}</foreach> · <a href="{:U('index/index')}">关于我们</a> · <a href="{:U('index/index')}">隐私协议</a></p>
		<p>Powered By SRCMS</p>
      </div>
    </div>
  </div>
</footer>

<!-- script references -->
		<script src="//2.srcmsdemo.sinaapp.com/jquery.min.js"></script>
		<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Home/js/scripts.js"></script>
	</body>
</html>