<extend name="Public:common" />
<block name="main">

<div class="gallery">
   <div class="row">
        <div class="col-md-4 col-md-offset-4">
		<br/>
            <h3>更改密码</h3><hr/>
    
	<form action="{:U('change/change')}" method="post">
	<div class="form-group">
		<label>旧密码</label>
		<input class="form-control" type="text" name="oldpassword" placeholder="请输入旧密码">
	</div>
	<div class="form-group">
		<label>密码</label>
		<input class="form-control" type="password" name="password" placeholder="请输入新密码">
	</div>
	<div class="form-group">
		<label>确认密码</label>
		<input class="form-control" type="password" name="repassword" placeholder="请再次输入新密码">
	</div>
    <div class="form-group">
		<button class="btn btn-success" type="submit">提交</button>
	</div>
    </form>
        </div>
    </div>
</div>

</block>