<ul class="nav navbar-nav side-nav">
    <li><a href="{:U('index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
    <li class="dropdown">
        <a href="{:U('post/index')}"><i class="fa fa-edit"></i> 漏洞审核</a>
    </li>
    <li class="dropdown">
        <a href="{:U('category/index')}"><i class="fa fa-reorder"></i> 漏洞分类</a>
    </li>
    <li class="dropdown">
        <a href="{:U('page/index')}"><i class="fa fa-file-text-o"></i> 公告管理</a>
    </li>
	<li class="dropdown">
        <a href="{:U('blog/index')}"><i class="fa fa-th-list"></i> 博客管理</a>
    </li>
	<li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i>用户管理<span class="caret"></span></a>
                  <ul class="dropdown-menu">
					<li><a href="{:U('member/index')}"><i class="fa fa-tag"></i> 前台用户</a> </li>
					<li><a href="{:U('manager/index')}"><i class="fa fa-tag"></i> 后台用户</a></li>
                  </ul>
                </li>
	<li class="dropdown">
        <a href="{:U('hall/index')}"><i class="fa fa-star"></i> 贡献榜管理</a>
    </li>
	<li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart"></i>礼品管理<span class="caret"></span></a>
                  <ul class="dropdown-menu">
					<li><a href="{:U('info/index')}"><i class="fa fa-tag"></i> 地址管理</a> </li>
					<li><a href="{:U('links/index')}"><i class="fa fa-shopping-cart"></i> 礼品库管理</a></li>
                    <li> <a href="{:U('order/index')}"><i class="fa fa-tag"></i> 订单管理</a></li>
                  </ul>
                </li>
	<li class="dropdown">
        <a href="{:U('setting/index')}"><i class="fa fa-star"></i>系统设置</a>
    </li>
</ul>