<footer class="footer navbar-fixed-bottom">
	  <div class="container marketing yahei">
        <p class="pull-right"><a href="{:U('index/index')}">Back to top</a></p>
        <p>© 2016 SRCMS Company, Inc. · <a href="__ROOT__">关于我们</a> · <a href="__ROOT__">隐私协议</a></p>
		</div>
</footer>

<!-- script references -->
		<script src="//2.srcmsdemo.sinaapp.com/jquery.min.js"></script>
		<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Home/js/scripts.js"></script>
	</body>
</html>