<include file="Public/header" title="更新贡献榜 - 企业安全应急响应与缺陷管理中心" hall_status="open" hall_color="#6164C1;"/>
<div class="main-content">
	<div class="page-title">
		<ol class="breadcrumb no-bg pl0">
		<li>
			<i class="icon-users"></i><a href="{:U('hall/index')}"> 名人堂列表</a>
		</li>
		<li>
			<a href="javascript:;">编辑贡献者</a>
		</li>
		</ol>
	</div>
    <form method="post" action="{:U('hall/update')}">
        <div class="form-group">
            <label for="aa">贡献者名称</label>
            <input type="text" name="name" class="form-control" value="{$model.name}" placeholder="输入贡献者名称">
        </div>
        <div class="form-group">
            <label for="bb">图片地址(图片大小建议设置为 80*80)</label>
            <input type="text" name="url" class="form-control" value="{$model.url}" placeholder="输入图片地址">
        </div>
		<div class="form-group">
            <label for="bb">贡献者描述</label>
            <textarea type="text" name="des" class="form-control" placeholder="输入对贡献者的描述">{$model.des}</textarea>
        </div>
        <div class="form-group">
            <input type="hidden" name="id" value="{$model.id}">
            <button type="submit" class="btn btn-default">更新</button>
        </div>
    </form>
</div>
<include file="Public/footer" />