<extend name="Public:common" />
<block name="main">

<div class="header vert">
  <div class="container">
    
    <h1>Demo</h1>
      <p class="lead">Security Response Center</p>
      <div>&nbsp;</div>
      <a href="__ROOT__/user.php" class="btn btn-default btn-lg">报告漏洞</a>
  </div>
</div>

<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><strong>平台简介</strong></h1>
		<br/>
        <p class="lead">我们一直致力于保护广大用户的安全，安全应急响应中心（Demo Security Response Center）非常欢迎广大用户向我们反馈我们产品和业务的安全漏洞，以帮助我们提升产品和业务的安全性。</p>
      </div>
    </div>
  </div>
</div>

<div class="callout" id="sec2">
  <div class="vert">
    <div class="col-md-12 text-center"><h2><strong>贡献榜</strong></h2></div>
    <div class="col-md-12 text-center">&nbsp;</div>
    <div class="col-md-8 col-md-offset-2 text-center">
      <div class="row hidden-xs">
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/12.jpg"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/95.jpg"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/67.jpg"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/27.jpg"></div>
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/women/15.jpg"></div>  
       <div class="col-sm-2"><img class="img-circle grayscale" src="http://api.randomuser.me/portraits/thumb/men/18.jpg"></div>
      </div>
    </div>
  </div>
</div>

<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2><strong>平台公告</strong></h2><br/>
		<foreach name="model" item="v">
            <div>
                <p class="lead"><a href="__ROOT__/index.php?m=&c=page&a=view&id={$v.id}">{$v.title}</a></p>
			 </tr>
        </foreach>
      </div>
    </div>
  </div>
</div>


</block>