<include file="Public/header" title="添加单页" />
<div id="page-wrapper">
    
    <form method="post" action="{:U('page/add')}">
        <div class="form-group">
            <label for="page-title">公告标题</label>
            <input type="text" name="title" class="form-control" id="page-title" placeholder="输入公告标题">
        </div>
        <div class="form-group">
            <label for="page-name">公告别名</label>
            <input type="text" name="name" class="form-control" id="page-name" placeholder="输入公告别名,不能和其他公告别名重复">
        </div>
        <div class="form-group">
            <label for="page-content">公告内容</label>
            <script id="page-content" name="content" type="text/plain"></script>
        </div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('page-content',{
        toolbars: [
            ['fullscreen', 'source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','attachment','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
            ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
        ],
        initialFrameHeight:500,
        zIndex:100
    });
</script>
<include file="Public/footer" />