<include file="Public/header" title="安全维基 - 企业安全应急响应与缺陷管理中心" />
<div class="main-content no-padding">
<div class="page-height row-equal align-middle text-center">
<div class="column">
<img src="__PUBLIC__/wiki.png"></img>
<div class="m-b h4" style="font-family:微软雅黑;">企业安全维基</div>
            <form action="{:U('post/index')}" method="post">
                <div class="form-group input-group col-md-6 text-center">
                    <input type="text" class="form-control" name="key" placeholder="搜索安全维基..">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
</div>
</div>
 
</div>
<include file="Public/footer" />