<include file="Public/header" title="更新用户" />
<div id="page-wrapper">
<form action="{:U('manager/update')}" method="post">
	<div class="form-group">
		<label>用户名</label>
		<input class="form-control" type="text" name="username" value="{$model.username}">
	</div>
	<div class="form-group">
		<label>邮箱</label>
		<input class="form-control" type="text" name="email" value="{$model.email}">
	</div>
	<div class="form-group">
		<label>新密码</label>
		<input class="form-control" type="password" name="password" placeholder="不填写则不更改">
	</div>
	<div class="form-group">
		<input type="hidden" name="id" value="{$model.id}">
		<button class="btn btn-success" type="submit" >更新</button>
	</div>


</form>
</div>

<include file="Public/footer" />