<include file="Public/header" title="地址管理 - 企业安全应急响应与缺陷管理中心" />

<div class="main-content">
<div class="fill-container">
<div class="relative full-height">
<div class="display-columns">
<div class="column contacts-list bg-white b-r">
<div class="ioslist"><h2 class="ioslist-fake-header">a</h2>
<div class="ioslist-wrapper" data-ios="false"><div class="ioslist-group-container">
<div class="ioslist-group-header">a</div>
<ul>
<li>Andrea Madsen</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">b</div>
<ul>
<li>Bertha Martínez</li>
<li>Bodrogi Szandra</li>
<li>Barbara Palmer</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">c</div>
<ul>
<li>Codruț Posteucă</li>
<li>Cristina Carrillo</li>
<li>César Arroyave</li>
<li>Crenguța Cadanțu</li>
<li>Carmen Viles</li>
<li>Carmen Ungur</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">d</div>
<ul>
<li>David chiopu</li>
<li>Danielle Hoffman</li>
<li>Dávid Ildikó</li>
<li>Douglas Curtis</li>
</ul>
</div><div class="ioslist-group-container ioslist-animated">
<div class="ioslist-group-header">e</div>
<ul>
<li>Eric Owens</li>
<li>Eugenia elmaru</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">f</div>
<ul>
<li>Francesca Cuza</li>
<li>Franc Kralj</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">g</div>
<ul>
<li>Grace Fox</li>
</ul>
</div><div class="ioslist-group-container ioslist-animated">
<div class="ioslist-group-header">h</div>
<ul>
</ul>
</div><div class="ioslist-group-container ioslist-animated">
<div class="ioslist-group-header">i</div>
<ul>
<li>Ianis Ionescu</li>
<li>Ina Săvescu</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">j</div>
<ul>
<li>Janice james</li>
<li>Jerry Obrien</li>
<li>Janeta Ciucurescu</li>
<li>Jose Dixon</li>
<li>Janice Chavez</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">k</div>
<ul>
<li>Kimberly Grant</li>
<li>Kemal Mustafa</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">l</div>
<ul>
<li>Luca Saunderson</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">m</div>
<ul>
<li>Manuela Aigner</li>
<li>Mikayla Vosper</li>
<li>Mary Morales</li>
<li>Marco Conte</li>
<li>Marc Wagner</li>
</ul>
</div><div class="ioslist-group-container ioslist-animated">
<div class="ioslist-group-header">n</div>
<ul>
</ul>
</div><div class="ioslist-group-container ioslist-animated">
<div class="ioslist-group-header">o</div>
<ul>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">p</div>
<ul>
<li>Patricia Ortiz</li>
<li>Peter Peters</li>
<li>Pietro Testa</li>
<li>Phillip Thomas</li>
</ul>
</div><div class="ioslist-group-container ioslist-animated">
<div class="ioslist-group-header">q</div>
<ul>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">r</div>
<ul>
<li>Rosta Viktória</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">s</div>
<ul>
<li>Savina Dogaru</li>
<li>Stijn Declercq</li>
<li>Sofia Todea</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">t</div>
<ul>
<li>Tudora Barbu</li>
<li>Tudosia Bănică</li>
<li>Titus Dolgan</li>
<li>Teodora Coșbuc</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">u</div>
<ul>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">v</div>
<ul>
<li>Varvara Moțoc</li>
<li>Vasilică Vanghelie</li>
<li>Victor Oliveira</li>
<li>Vincent Smith</li>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">w</div>
<ul>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">x</div>
<ul>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">y</div>
<ul>
</ul>
</div><div class="ioslist-group-container">
<div class="ioslist-group-header">z</div>
<ul>
</ul>
</div></div>

























</div>
</div>
<div class="column contact-view">
<div class="scroll full-height">
<div class="full-height">
<div class="contact-header m-b">
<div class="contact-toolbar visible-xs m-b">
<a href="http://reactor.nyasha.me/static/apps-contacts.html#">
<span class="icon-close visible-xs m-r m-l"></span>
</a>
</div>
<div class="p-a">
<div class="pull-left p-r">
<img src="./Reactor - Bootstrap Admin Template_files/face4.jpg" class="avatar avatar-lg img-circle" alt="">
</div>
<div class="overflow-hidden">
<h1><b>Kralj</b> Franc</h1>
<h3>Web developer</h3>
</div>
</div>
</div>
<div class="row m-b">
<div class="col-xs-4 text-right">
<span class="text-muted">email</span>
</div>
<div class="col-xs-8">
<a href="http://reactor.nyasha.me/static/email@example.com">email@example.com</a>
</div>
</div>
<div class="row m-b">
<div class="col-xs-4 text-right">
<span class="text-muted">mobile</span>
</div>
<div class="col-xs-8">
<span>+1 123 456 789</span>
</div>
</div>
<div class="row m-b">
<div class="col-xs-4 text-right">
<span class="text-muted">home</span>
</div>
<div class="col-xs-8">
<a href="http://www.example.com/">http://www.example.com</a>
</div>
</div>
<div class="row m-b">
<div class="col-xs-4 text-right">
<span class="text-muted">country</span>
</div>
<div class="col-xs-8">
<span>Slovenia</span>
</div>
</div>
<div class="row m-b">
<div class="col-xs-4 text-right">
<span class="text-muted">note</span>
</div>
<div class="col-xs-8">
<span>Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
    $('.ioslist').ioslist();
</script>
<include file="Public/footer" />