<include file="Public/header" title="更新个人信息 - 企业安全应急响应与缺陷管理中心" user_status="open" info_color="#6164C1;"/>
<div class="main-content">
<div class="page-title">
	<ol class="breadcrumb no-bg pl0">
	<li>
	<i class="icon-users"></i>账号中心
	</li>
	<li>
	<a href="javascript:;">个人信息</a>
	</li>
	</ol>
</div> 
<div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>请您准确填写您的个人信息，以便我们能够准确及时为您寄送礼品！</p>
				<div class="clearfix"></div>
            </div>
        </div>
</div>

<form method="post" action="{:U('info/update')}">

<div class="card bg-white">
<div class="card-header bg-default">
<div class="pull-left">基本信息</div>
</div>
<div class="card-block" style="">
<foreach name="info" item="v">
	   <div class="form-group">
        <label>姓名：</label>
        <input type="text" name="realname"  class="form-control" placeholder="{$v.realname}">
	   </div>
	   <div class="form-group">
        <label>QQ号：</label>
        <input type="text" name="qqnumber"  class="form-control" placeholder="{$v.idcode}">
	   </div>
	   <div class="form-group">
        <label>邮编：</label>
        <input type="text" name="zipcode" class="form-control" placeholder="{$v.zipcode}">
	   </div>
	   <div class="form-group">
        <label>住址：</label>
        <input type="text" name="location" class="form-control" placeholder="{$v.address}">
	   </div>
	   <div class="form-group">
        <label>电话：</label>
        <input type="text" name="tel"  class="form-control" placeholder="{$v.tel}">
	  </div>
	  <div class="form-group">
        <label>个人网站：</label>
        <input type="text" name="website"  class="form-control" placeholder="{$v.tel}">
	  </div>
	  <div class="form-group">
        <label>个人简介：</label>
        <textarea type="text" name="description"  class="form-control" placeholder="{$v.tel}"></textarea>
	  </div>
      <button type="submit" class="btn btn-success">提交</button>
   </div>
</div>

	<div class="card bg-white">
	<div class="card-header bg-default">
	<div class="pull-left">财务信息</div>
	</div>
	<div class="card-block" style="">
	   <div class="form-group">
        <label>身份证号：</label>
        <input type="text" name="realname"  class="form-control" placeholder="{$v.idcode}">
	   </div>
	   <div class="form-group">
			<label>银行卡号：</label>
			<input type="text" name="alipay"  class="form-control" placeholder="{$v.bankcode}">
	   </div>
	   <div class="form-group">
        <label>支付宝账号：</label>
        <input type="text" name="alipay"  class="form-control" placeholder="{$v.alipay}">
	   </div>
		<button type="submit" class="btn btn-success">提交</button>
	 </div>
     </div>
</foreach>
     </form>
</div>
<include file="Public/footer" />