<include file="Public/header" title="后台用户管理 - 企业安全应急响应与缺陷管理中心" users_status="open" manager_color="#6164C1;"/>
<div class="main-content">
    <div class="row">
        <div class="col-md-6">
            <a href="{:U('manager/add')}" class="btn btn-success">添加用户</a>
        </div>
        <div class="col-md-6">
            <form action="{:U('manager/index')}" method="post">
                <div class="form-group input-group">
                    <input type="text" class="form-control" name="key" placeholder="输入用户名或者邮箱关键词搜索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    

	<div class="no-more-tables">
    <table class="table m-b-0">
        <thead>
            <tr>
                <td>编号</td>
                <td>用户名</td>
                <td>邮箱</td>
                <td>创建时间</td>
                <td>上次登陆</td>
                <td>登陆IP</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
        <foreach name="member" item="v">
            <tr>
                <td data-title="编号">{$v.id}</td>
                <td data-title="用户名">{$v.username}</td>
                <td data-title="邮箱">{$v.email}</td>
                <td data-title="创建时间">{$v.create_at|date="Y/m/d H:i:s",###}</td>
                <td data-title="上次登录">{$v.update_at|date="Y/m/d H:i:s",###}</td>
                <td data-title="登录IP">{$v.login_ip}</td>
                <td data-title="操作"><a href="{:U('manager/update?id=')}{$v.id}">编辑</a></td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
    <div class="clearfix"></div>
    {$page}
</div>
<include file="Public/footer" />