<include file="Public/header" title="更新贡献榜" />
<div id="page-wrapper">
    <form method="post" action="{:U('hall/update')}">
        <div class="form-group">
            <label for="aa">贡献者名称</label>
            <input type="text" name="name" class="form-control" id="aa" value="{$model.name}" placeholder="输入贡献者名称">
        </div>
        <div class="form-group">
            <label for="bb">图片地址(图片大小建议设置为 80*80)</label>
            <input type="text" name="url" class="form-control" id="bb" value="{$model.url}" placeholder="输入图片地址">
        </div>
		<div class="form-group">
            <label for="bb">贡献者描述</label>
            <input type="text" name="des" class="form-control" id="bb" value="{$model.des}" placeholder="输入对贡献者的描述">
        </div>
        <div class="form-group">
            <input type="hidden" name="id" value="{$model.id}">
            <button type="submit" class="btn btn-default">更新</button>
        </div>
    </form>
</div>
<include file="Public/footer" />