<include file="Public/header" title="报告审核 - {$post.title|htmlspecialchars_decode|waf}" report_status="open" review_report_color="#6164C1;"/>
<div class="main-content">
<div class="page-title">
<div class="pull-right">
<button type="button" class="btn btn-info no-print"><i class="icon-printer m-r"></i>导出PDF</button>
</div>
<ol class="breadcrumb no-bg pl0">
<li>
<i class="icon-layers"></i> <a href="{:U('post/index')}">漏洞列表</a>
</li>
<li>
<a href="javascript:;">ESRCMS-01</a>
</li>
</ol>
<h4 style="font-family:微软雅黑;">{$post.title|htmlspecialchars_decode|waf}</h4>
</div>
</div>

<div class="col-sm-9">
<!--分割线-->
<div class="card bg-white">
<div class="card-header bg-default">
<div class="pull-left">报告详情</div>
<div class="pull-right"><a href="{:U('post/update?id=')}{$post.id}"><i class="fa fa-pencil" aria-label="编辑报告"></i></a></div>
</div>
<div class="card-block" style="">

<p>
{$post.content|htmlspecialchars_decode|waf}
</p>
<code>来源:外部报告</code>
</div>
</div>
<!--分割线-->
<!--分割线-->
<div class="card bg-white">
<div class="card-header bg-default">
<div class="pull-left">审核报告</div>
</div>
<div class="card-block" style="">
<form method="post" action="{:U('post/review?id=')}{$post.id}">
<div class="form-group">
            <label>修补限期：</label>
            <label class="radio-inline">
              <input type="radio" name="day" id="day" value="1" checked="checked">无影响
            </label>
            <label class="radio-inline">
              <input type="radio" name="day" id="day" value="2">10天
            </label>
            <label class="radio-inline">
              <input type="radio" name="day" id="day" value="3">3天
            </label>
            <label class="radio-inline">
              <input type="radio" name="day" id="day" value="4">2天
            </label>
        </div>
<div class="form-group">
            <label>危害评级：</label>
            <label class="radio-inline">
              <input type="radio" name="rank" id="rank" value="1" checked="checked">无影响
            </label>
            <label class="radio-inline">
              <input type="radio" name="rank" id="rank" value="2">低危
            </label>
            <label class="radio-inline">
              <input type="radio" name="rank" id="rank" value="3">中等
            </label>
            <label class="radio-inline">
              <input type="radio" name="rank" id="rank" value="4">高危
            </label>
        </div>
<div class="form-group">
            <label>处理结果：</label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="1" checked="checked">审核中
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="2">已忽略
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="3">已确认
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="4">已修复
            </label>
        </div>
<button type="submit" class="btn btn-info btn-sm btn-icon loading-demo mr5">
		<i class="icon-cursor mr5"></i>
		<span>提交</span>
</button>
</form>
</div>
</div>
<!--时间线主要内容-->
<!--工单评论信息-->
<div class="card bg-white">
<div class="card-header bg-default">
<div class="pull-left">评论</div>
</div>
<div class="card-block" style="">
<foreach name="comment" item="v">
		<div class="comment">
		<div class="comment-author">
			<b><a href="javascript:;">
				#{$v.user_id}
				<time datetime="2015-09-01" class="time"> {$v.update_time|date="Y年m月d日",###}</time>
			</a></b>
		</div>
		<p>{$v.content}</p>
	</div>
    <hr/>
</foreach>
<div class="form-group">
<form method="post" action="{:U('post/comment')}">
	<div class="form-group">
		<textarea class="form-control m-b input-sm" type="text" name="content" placeholder="点击此处输入评论..."></textarea>
		<input hidden type="text" name="post_id" value="{$post.id}">
        </div>
		<button type="submit" class="btn btn-info btn-sm btn-icon loading-demo mr5">
		<i class="icon-cursor mr5"></i>
		<span>提交</span>
</button>
</form>


</div>
</div>
</div>
<!--工单评论信息-->

<!--分割线-->
</div>
<!--分割线-->
<div class="col-sm-3">
<!--工单状态-->
<div class="card bg-white">
<div class="card-header bg-default">
<div class="pull-left">报告人</div>
<div class="card-controls">
<a href="javascript:;" class="card-collapse" data-toggle="card-collapse">
<i class="card-icon-collapse"></i>
</a>
<a href="javascript:;" class="card-remove" data-toggle="card-remove">
<i class="card-icon-remove"></i>
</a>
</div>
</div>
<div class="card-block  text-center">
<span class="h4 bold">Martin</span>
<p>核心白帽子</p>
<div class="w150 center-block mt10">
<button class="btn btn-danger btn-block btn-sm">
<span>发起QQ会话</span>
</button>
</div>
</div>
</div>
<!--工单状态-->
<!--工单评级-->
<div class="card bg-white">
<div class="card-header bg-default">
<div class="pull-left">报告奖励</div>
<div class="card-controls">
<a href="javascript:;" class="card-collapse" data-toggle="card-collapse">
<i class="card-icon-collapse"></i>
</a>
<a href="javascript:;" class="card-remove" data-toggle="card-remove">
<i class="card-icon-remove"></i>
</a>
</div>
</div>
<div class="card-block" style="">
<!--评级内容框-->
<form method="post" action="{:U('post/jifen?uid=')}{$post.user_id}">
		<span class="input input--info m-b-md">
			<input class="input__field" name="jifen" type="text">
			<label class="input__label">
			<span class="input__label-content">请输入奖励积分数值</span>
			</label>
		</span>
		<span class="input input--info m-b-md">
			<input class="input__field" name="jinbi" type="text">
			<label class="input__label">
			<span class="input__label-content">请输入奖励安全币数</span>
			</label>
		</span>
		<button type="submit" class="btn btn-info btn-sm btn-icon loading-demo mr5">		
			<i class="icon-cursor mr5"></i>
		    <span>提交</span>
		</button>
	</form>
<!--评级内容框-->
</div>
</div>
<!--工单评级-->
<div class="card bg-white no-border">
<div class="card-block">
<div class="profile-reccomendations">
<small class="bold">评分标准</small>
<ul class="user-meta">
<li>
<span class="bold">高危漏洞：</span><span>500-1000积分</span>
</li>
<li>
<span class="bold">中危漏洞：</span><span>100-500积分</span>
</li>
<li>
<span class="bold">低危漏洞：</span><span>10-100积分</span>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('post-content',{
        toolbars: [
            ['source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','attachment','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
            ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
        ],
        initialFrameHeight:500,
        zIndex:100
    });
</script>
<include file="Public/footer" />