<include file="Public/header" title="审核报告" />
<div id="page-wrapper">
    <form method="post" action="{:U('post/jifen')}">
        <label>奖励积分：</label>
        <input type="text" name="amount" value="">
		<input type="hidden" name="user_id" value="{$post.user_id}">
		<button type="submit" class="btn btn-default">提交</button>
	</form>
    
    <hr/>
    <form method="post" action="{:U('post/update?id=')}{$category.id}">
        <div class="form-group">
            <label for="post-title">漏洞名称</label>
            <input type="text" name="title" class="form-control" value="{$post.title}" id="post-title" placeholder="输入报告标题">
        </div>
        <div class="form-group">
            <label for="post-cate">漏洞类型</label>
            <select name="cate_id" id="post-cate" class="form-control">
                <foreach name="category" item="v">
                    <option value="{$v.id}" <?php if($post['cate_id'] == $v['id']) {echo 'selected="selected"' ;}?>>{$v.html} {$v.title}</option>
                </foreach>
            </select>
        </div>
        <div class="form-group">
            <label for="post-content">报告内容</label>
            <script id="post-content" name="content" type="text/plain">{$post.content|htmlspecialchars_decode|waf}</script>
        </div>
		<div class="form-group">
            <label for="post-content">修复建议</label>
            <input type="text" name="advise" class="form-control" value="{$post.advise}" id="post-title" placeholder="输入修复建议">
        </div>
		<div class="form-group">
            <label>漏洞公开</label>
            <label class="radio-inline">
              <input type="radio" name="visible" id="visible" value="1" <if condition="$post.day eq 2">checked="checked"</if>>公开
            </label>
        </div>
		<div class="form-group">
            <label>修补限期</label>
            <label class="radio-inline">
              <input type="radio" name="day" id="day" value="1" <if condition="$post.day eq 1">checked="checked"</if> >无影响
            </label>
            <label class="radio-inline">
              <input type="radio" name="day" id="day" value="2" <if condition="$post.day eq 2">checked="checked"</if>>10天
            </label>
            <label class="radio-inline">
              <input type="radio" name="day" id="day" value="3" <if condition="$post.day eq 3">checked="checked"</if>>3天
            </label>
            <label class="radio-inline">
              <input type="radio" name="day" id="day" value="4" <if condition="$post.day eq 4">checked="checked"</if>>2天
            </label>
        </div>
		<div class="form-group">
            <label>危害评级</label>
            <label class="radio-inline">
              <input type="radio" name="rank" id="rank" value="1" <if condition="$post.rank eq 1">checked="checked"</if> >无影响
            </label>
            <label class="radio-inline">
              <input type="radio" name="rank" id="rank" value="2" <if condition="$post.rank eq 2">checked="checked"</if>>低危
            </label>
            <label class="radio-inline">
              <input type="radio" name="rank" id="rank" value="3" <if condition="$post.rank eq 3">checked="checked"</if>>中等
            </label>
            <label class="radio-inline">
              <input type="radio" name="rank" id="rank" value="4" <if condition="$post.rank eq 4">checked="checked"</if>>高危
            </label>
        </div>
        <div class="form-group">
            <label>处理结果</label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="1" <if condition="$post.type eq 1">checked="checked"</if> >审核中
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="2" <if condition="$post.type eq 2">checked="checked"</if>>已忽略
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="3" <if condition="$post.type eq 3">checked="checked"</if>>已确认
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="4" <if condition="$post.type eq 4">checked="checked"</if>>已修复
            </label>
        </div>
        <input type="hidden" name="id" value="{$post.id}">
        <button type="submit" class="btn btn-default">提交</button>
    </form>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('post-content',{
        toolbars: [
            ['source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','attachment','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
            ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
        ],
        initialFrameHeight:500,
        zIndex:100
    });
</script>
<include file="Public/footer" />