<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>安全工单</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--防止外泄referer-->
		<meta name="referrer" content="never">
		<link href="__PUBLIC__/Home/css/bootstrap.min.css" rel="stylesheet">
		<link href="__PUBLIC__/Home/index/carousel.css" rel="stylesheet">
		<link href="__PUBLIC__/Home/css/styles.css" rel="stylesheet">
	</head>
	<body>

<div class="navbar navbar-fixed-top navbar-default" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="yahei sr-only">Toggle navigation</span>
            <span class="yahei icon-bar"></span>
            <span class="yahei icon-bar"></span>
            <span class="yaheiicon-bar"></span>
          </button>
          <a class="yahei navbar-brand" href="/dev/index.php?m=&c=index&a=index"><strong>安全应急响应中心</strong>
          <span class="yahei navbar-brand-subtitle">外部安全工单</span>
          </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
	    <li><a href="./admin.php?m=User&c=index&a=index">管理后台</a></li>
      </ul>
    </div>
   </div>
</div>

<!-- 报告详情 -->
<div class="gallery">
  <div class="container">
      <div class="col-md-12">
        <h3><strong>{$model.title}</strong></h3>
		<div class="row">
		<p><span>#{$model.id}</span><span> / </span><span>@{$model.time|date="Y-m-d H:i:s",###}</span><span> / </span><span><if condition="$model.type eq 1"><span class="label label-info">审核中</span>
                    <elseif condition="$model.type eq 2" /><span class="label label-default">已忽略</span>
                    <elseif condition="$model.type eq 3" /><span class="label label-warning">已确认</span>
                    <elseif condition="$model.type eq 4" /><span class="label label-success">已修复</span>
                    </if></p>
		</div>
        <div class="row">
		   <pre>
			 {$model.content|htmlspecialchars_decode|waf}
			 </pre>
	    </div>
		<div class="row">
		<p><b><span>#修复建议</span></b><span> / 修补期限：</span><span><if condition="$model.type eq 1"><span class="label label-success"></span>
                    <elseif condition="$model.type eq 2" /><span class="label label-default">10天</span>
                    <elseif condition="$model.type eq 3" /><span class="label label-warning">3天</span>
                    <elseif condition="$model.type eq 4" /><span class="label label-danger">2天</span>
                    </if> / 危害评级：</span><span><if condition="$model.type eq 1"><span class="label label-success">无影响</span>
                    <elseif condition="$model.type eq 2" /><span class="label label-default">低危</span>
                    <elseif condition="$model.type eq 3" /><span class="label label-warning">中危</span>
                    <elseif condition="$model.type eq 4" /><span class="label label-danger">高危</span>
                    </if></p>
		</div>
		<div class="row">
		   <pre>
			 {$model.advise}
			 </pre>
	    </div>
		<hr/>
		<foreach name="wflow" item="v">
		<div class="row">
			<p><b><span>#处理进展</span></b><span> / </span><span>@{$v.time}</span><span> / </span><span>状态变更：<if condition="$v.type eq 1"><span class="label label-info">已确认</span>
                    <elseif condition="$v.type eq 2" /><span class="label label-default">已分配</span>
                    <elseif condition="$v.type eq 3" /><span class="label label-warning">处理中</span>
                    <elseif condition="$v.type eq 4" /><span class="label label-success">已结单</span>
                    </if><span> / 变动人：<span class="label label-default">{$v.userid}</span></p>
		</div>
        <div class="row">
		   <pre>
			 {$v.content|htmlspecialchars_decode|waf}
			 </pre>
		</div>
		</foreach>
		<div class="row">
		<form method="post" action="{:U('check/add')}">
            <label for="post-content">添加处理进展</label>
            <script id="post-content" name="content" type="text/plain"></script>
			<br/>
			<div class="form-group input-group input-group-sm">
				<span class="input-group-addon">处理人：</span><input type="text" class="form-control" name="userid" id="userid" placeholder="请输入您的公司id"/>
			</div>
			<div class="form-group input-group input-group-sm">
			  <span class="input-group"><b>处理状态：</b></span>
			  <label class="radio-inline">
              <input type="radio" name="type" id="type" value="1" checked="checked" />已确认
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" id="type" value="2" />已分配
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" id="type" value="3" />处理中
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" id="type" value="4" />已结单
				</label>
			</div>
			<div class="form-group input-group input-group-sm">
              <input type="hidden" name="session" id="session" value="{$model.session}" />
			</div>
			<div class="form-group input-group input-group-sm">
              <input type="hidden" name="time" id="time" value="<?php echo date('Y-m-d H:i:s',time());?>" />
			</div>
			<button type="submit" class="btn btn-default">提交</button>
		</form>
        </div>
		<div class="row">
			<hr/>
			<p><b>注意事项:</b></p>
			<p>1.本页面为公司应急响应中心安全工单系统临时授权页面，请您不要对外泄露本页面链接。</p>
			<p>2.请参照本页面的修复建议对存在问题的业务漏洞进行修补，并及时同步修补结果</p>
		</div>
  </div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('post-content',{
        toolbars: [
            ['source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','attachment','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
            ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
        ],
        initialFrameHeight:500,
        zIndex:100
    });
</script>
</body>
</html>