<include file="Public/header" title="前台用户管理 - 企业安全应急响应与缺陷管理中心" users_status="open" member_color="#6164C1;"/>
<div class="main-content">
    <div class="row">
        <div class="col-md-6">
            <a href="{:U('member/add')}" class="btn btn-success" style="margin : 2px 5px 5px 0px;">添加用户</a>
        </div>
        <div class="col-md-6">
            <form action="{:U('member/index')}" method="post">
                <div class="form-group input-group">
                    <input type="text" class="form-control" name="key" placeholder="输入用户名或者邮箱关键词搜索...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    

	<div class="no-more-tables">
    <table class="table m-b-0">
        <thead>
            <tr>
                <td>编号</td>
                <td>用户名</td>
                <td>邮箱</td>
                <td>注册时间</td>
                <td>上次登陆</td>
                <td>登陆IP</td>
                <td>用户等级</td>
                <td>用户状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
        <foreach name="member" item="v">
            <tr>
                <td data-title="编号">{$v.id}</td>
                <td data-title="用户名">{$v.username}</td>
                <td data-title="邮箱">{$v.email}</td>
                <td data-title="注册时间">{$v.create_at|date="Y/m/d H:i:s",###}</td>
                <td data-title="上次登录">{$v.update_at|date="Y/m/d H:i:s",###}</td>
                <td data-title="登录IP">{$v.login_ip}</td>
                <td data-title="用户等级">
                    <if condition="$v.type eq 1"> <span class="label label-default">路人</span>
                    <elseif condition="$v.type eq 2"/><span class="label label-info">实习白帽子</span>
					<elseif condition="$v.type eq 3"/><span class="label label-success">普通白帽子</span>
                    <elseif condition="$v.type eq 4"/><span class="label label-danger">核心白帽子</span>
                    </if>
                </td> 
                <td data-title="用户状态"><if condition="$v.status eq 1">正常<else/><span style="color:red">禁用</span></if></td>
                <if condition="$v.status eq 1">	
                	<td data-title="操作"><a href="{:U('member/update?id=')}{$v.id}">编辑</a> | <a href="{:U('member/delete?id=')}{$v.id}" style="color:red;" onclick="return confirm('删除后所有用户资料将清除!\n\n请确认!');">删除</a> | <a href="{:U('member/ban?id=')}{$v.id}" style="color:red;" onclick="return confirm('禁用后用户将不能登陆前台!\n\n请确认!');">禁用</a></td>
            	<else/>
            		<td><a href="{:U('member/update?id=')}{$v.id}">编辑</a>| <a href="{:U('member/delete?id=')}{$v.id}" style="color:red;" onclick="return confirm('删除后所有用户资料将清除!\n\n请确认!');">删除</a> | <a href="{:U('member/ban?id=')}{$v.id}" style="color:#50AD1E;">启用</a></td>
            	</if>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
    <div class="clearfix"></div>
    {$page}
</div>
<include file="Public/footer" />