<include file="Public/header" title="兑换中心 - 企业安全应急响应与缺陷管理中心" gifts_status="open" order_color="#6164C1;"/>

<div class="main-content">
<div class="page-title">
<div class="title">礼品中心</div>
<div class="sub-title">兑换记录</div>
</div>
<div class="col-sm-12">
 <div class="no-more-tables">
    <table class="table m-b-0">
        <thead>
            <tr>
                <th>兑换时间</th>
                <th>礼品详情</th>
				<th>联系人</th>
				<th>联系方式</th>
                <th>订单状态</th>
            </tr>
        </thead>
        <tbody>
        <foreach name="info" item="v">
            <tr>
				<td data-title="兑换时间">{$v.update_time|date="Y/m/d",###}</td>
				<td data-title="礼品详情">{$v.gid}</td>
				<td data-title="联系人">{$v.realname}</td> 
                <td data-title="联系方式">{$v.tel}</td>           
                <td data-title="订单状态">
                    <if condition="$v.finish eq 1"><span class="label label-success">已发货</span>
                    <elseif condition="$v.finish eq 0" /><span class="label label-danger">未发货</span>
					 <elseif condition="$v.finish eq 2" /><span class="label label-default">未发货</span>
                    </if>
                </td>
            </tr>
        </foreach>
        </tbody>
	</table>
   </div>
</div>
<div class="col-sm-12">
	{$page}
</div>	
</div>
<include file="Public/footer" />