<include file="Public/header" title="个人中心 - 企业安全应急响应与缺陷管理中心"/>

<div class="main-content" style="font-family:微软雅黑">
<div class="row">
<div class="col-sm-4">
<div class="card card-block no-border bg-danger text-white">
<div class="card-circle-bg-icon"> <i class="icon-bubble"></i> </div>
<h6 class="m-a-0" style="font-family:微软雅黑;">报告总数 /</h6>
<a href="{:U('post/add')}"><h1 class="m-a-0">{$pnum}</h1></a>
</div>
</div>
<div class="col-sm-4">
<div class="card card-block no-border bg-teal text-white">
<div class="card-circle-bg-icon"> <i class="icon-bag"></i> </div>
<h6 class="m-a-0" style="font-family:微软雅黑;">我的金币 /</h6>
<a href="{:U('gift/index')}"><h1 class="m-a-0">{$jinbi['jinbi']}</h1></a>
</div>
</div>
<div class="col-sm-4">
<div class="card card-block no-border bg-blue text-white">
<div class="card-circle-bg-icon"> <i class="icon-tag"></i> </div>
<h6 class="m-a-0" style="font-family:微软雅黑;">礼品订单 /</h6>
<a href="{:U('gift/order')}"><h1 class="m-a-0">{$gift}</h1></a>
</div>
</div>
</div>

<div class="row">
</div>
<div class="row">
<div class="col-sm-12">
<div class="no-more-tables">
    <table class="table m-b-0">
        <thead>
            <tr>
			    <th>发布时间</th>
                <th>公告标题</th>
            </tr>
        </thead>
        <tbody>
		<foreach name="page" item="v">
		 <tr>
				<td data-title="报告时间"><a href="./index.php?m=&c=page&a=view&id={$v.id}">{$v.update_time|date="Y/m/d",###}</a></td>
                <td data-title="报告标题"><a href="./index.php?m=&c=page&a=view&id={$v.id}">{$v.title}</a></td>
            </tr>
		</foreach>	
        </tbody>
    </table>
	</div>
</div>
</div>

</div>
<include file="Public/footer" />