<extend name="Public:common" />
<block name="main">

<div class="gallery">
   <div class="col-md-offset-2">
   <h2><strong>个人中心</strong></h2>   
    <hr style="width:80%" class="col-md-offset-0"/>
    <h4><strong>尊敬的 <?php echo session('username')?>, 欢迎您进入漏洞报告平台 !</strong></h4>
	<br/>
	<button class="btn btn-default text-align"><a href="{:U('login/logout')}">退出登录</a></button>&nbsp;&nbsp;&nbsp;<button class="btn btn-default text-align"><a href="{:U('change/index')}">修改密码</a></button><br/>
	
</div>

</block>